[Unit]
Description=Service to backup installed packages

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/bin/autoGetInstalledPackages

[Install]
WantedBy=multi-user.target