[Unit]
Description=Timer for getInstalledPackages

[Timer]
OnCalendar=monthly
Persistent=yes
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target