[Unit]
Description=Timer for updating the mirrorlists

[Timer]
OnCalendar=monthly
Persistent=yes
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target