[Unit]
Description=Service to update mirrorlists

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/bin/autoUpdateMirrorlist

[Install]
WantedBy=multi-user.target